head {
    font-family: ubunturegular;
  }
  
  
  body {
      background-color: black;
      font-family: ubunturegular;
    }
    @font-face {
      font-family: 'ubunturegular';
      src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
           url('fonts/ubuntu-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
  
  h1 {font-family: ubunturegular;
    color: white;
    font-size: 4em;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  
  h2 {font-family: ubunturegular;
    color: white;
    font-size: 2em;
  }
  
  p {
    margin: 50px;
    color: white;
  }
  
  body {
    margin: 0;
    background-image: url('https://wallpaperaccess.com/full/1151410.jpg');
  }
  
  button {
    background-color: #8400ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  a:link {
    text-decoration: none;
  }
  
  div {
    pointer-events: none
  }
  
  
